{% extends 'base.html' %}
{% block title  %}About Us{% endblock title  %}
{% block body %}
<div class="container">
  <img src="/static/img/aboutus.jpg" alt="Norway" style="width:100%;">
  <div class="text-block">
    <div class="carousel-caption">
        <h1><b>Our Mission</b><h1>
        <h2>With The Mission to make people of India Aware of Indian Products available in the market, maybe not at a better price than the Cheap Products, but atleast at a better Quality and added advantage of buying from our own people thus strengthening our people eventually strengthening our Econony and making us tad bit less dependant on Cheap Prodcts from other Countries.</h2>
        <h2>India imports nearly 514 Billion Dollars worth of Goods from the World but Exports only 330 Billion US Dollars which is pretty less compared to totlal Imports. This is not because People dont want to buy Products "Made in India" but because they dont know that the Indian Alternatives even exist.</h2> 
    </div>
  </div>
</div>
{% endblock body %}